rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    // --- REGLA 5: Audios de Viaje ---
    match /trip_audio/{tripId}/{userId}/{chunkId} {
      function isTripPassenger(db) {
        return get(/databases/$(db)/documents/trips/$(tripId)).data.passengerId == request.auth.uid;
      }
      function getRole(db, uid) { 
        return get(/databases/$(db)/documents/users/$(uid)).data.role; 
      }
      function isAdminOrCompliance(db) {
        let role = getRole(db, request.auth.uid);
        return request.auth != null && (role == 'admin' || role == 'compliance');
      }

      allow create: if request.auth != null && request.auth.uid == userId && isTripPassenger(database);
      allow read: if isAdminOrCompliance(database);
      allow update, delete: if false; // Inmutable
    }

    match /support_audio/{uid}/{allPaths=**} {
      allow write: if request.auth != null && request.auth.uid == uid;
      allow read: if request.auth != null && request.auth.uid == uid;
    }
  }
}
